.profile__name {
     margin: 0;
     font-weight: 500;
     font-size: 42px;
     line-height: 56px;
}

@media (min-width: 320px) and (max-width: 600px) {   
     .profile__name {
          text-align: center;
          font-size: 27px;
          line-height: 56px;
     }
}





