.popup__submit-button {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 14px 0 14px;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: inherit;  
}

.popup__submit-button:hover {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}
