.profile__job {
     margin: 0;
     font-weight: normal;
     font-size: 18px;
     line-height: 22px;  
}

@media (min-width: 320px) and (max-width: 600px) {   
     .profile__job {
          text-align: center;
          font-size: 14px;
          line-height: 17px;
     }
}




