.profile__add-button {
     max-width: 12px;
     max-height: 12px;
     padding: 25.5px 75px;
     margin-left: auto;
     box-shadow: none;
     background: none;
     border: 1px solid #ffffff; 
     background-image: url(../../../images/add-button.svg);
     background-size: 14.7%;
     background-repeat: no-repeat;
     background-position: center;
     align-self: center; 
}

.profile__add-button:hover {
     opacity: 0.6;
     cursor: pointer;
}

/* до встречи с дизайнером пусть будет так */
@media (min-width: 601px) and (max-width: 1023px) {
     .profile__add-button {
          padding: 20px 25px;
          max-width: 12px;
          max-height: 12px;
          background-size: 20%; 
     }
}

@media (min-width: 320px) and (max-width: 600px) {   
     .profile__add-button {
          margin: 36px 0 0;
          padding: 25px 141px;
          max-width: 16px;
          max-height: 16px;
          background-size: 5.7%;
          align-self: auto;
     }
}





