.popup__submit-button_disabled {
  opacity: 0.2;
  color: black;
  background-color: white;
  border: 1px solid black;
  
}

.popup__submit-button_disabled:hover {
  pointer-events: none;
  cursor: none;
  background-color: white;
}
