.profile__avatar {
     max-width: 120px;
     max-height: 120px; /* если не прописать, то в Сафари элипс */
     height: 100%;
     border-radius: 50%;
     object-fit: cover;
     opacity: 1;
}





