.popup__error-text {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 2;
  
  border: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px; 
  font-family: inherit;
  color: #FF0000;
}

@media (min-width: 320px) and (max-width: 600px) {   
  .popup__error-text {
    font-size: 10px;
    line-height: 13px;         
  }
}