.cards__like {
    max-width: 20px;
    max-height: 18px;
    padding: 10px 9px; 
    box-shadow: none;
    background: none;
    border: none; 
    background-image: url(../../../images/like.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}

.cards__like:hover {
    opacity: 0.6;
    cursor: pointer;
}





